@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dmjntq');
  src:  url('fonts/icomoon.eot?dmjntq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dmjntq') format('truetype'),
    url('fonts/icomoon.woff?dmjntq') format('woff'),
    url('fonts/icomoon.svg?dmjntq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-commenting:before {
  content: "\e903";
}
.icon-user:before {
  content: "\e901";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e986";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-brand:before {
  content: "\e900";
  color: #bd081c;
}
